@import "tailwindcss";

/* @theme{
   @font-face{
    font-family:'circular-web';
    src: url('/fonts/circularweb-book.woff2') format('woff2')
  }
  @font-face{
    font-family:'general';
    src: url('/fonts/general.woff2') format('woff2')
  }
  @font-face{
    font-family:'robert-medium';
    src: url('/fonts/robert-medium.woff2') format('woff2')
  }
} */
 

/* :root {
  --font-circular-web: 'circular-web', "sans-serif";
   --font-general: 'general', sans-serif;
  --font-robert-medium: 'robert-medium', sans-serif;
   } */